html, body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

#container {
    width: 100%;
    height: auto;
    display: flex;
    
}

#container > #projects {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#container > #tasks {
    flex: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.project, .task {
    color: white;
}

.project {
    flex: 1;
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;

    background-color: #41337A;
    border-bottom: 7px solid #331E36;
}

.project_name {
    font-size: 1.5em;
}

.project_time {
    font-size: 2em;
    margin-top: 7px;
}

.project_description {
    margin-top: 7px;
}

.project:hover {
    background-color: #331E36;
    cursor: pointer;
}

.task {
    background-color: #6EA4BF;
    width: 95%;
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
    height: auto;
}

.chrono {
    text-align: right;
}

.chrono button {
    font-size: 2em;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #331E36;
    color: white;
    margin-right: 5px;
    border: 3px solid #331E36;
}

.chrono button:hover {
    cursor: pointer;
    border: 3px solid white;
}

.task_name {
    font-size: 1.5em;
}

.task_description {
    margin-top: 15px;
    margin-bottom: 15px;
}

.task_time {
    font-size: 3em;
    margin-bottom: 5px;
}

#add-task {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 50px;
    background-color: #331E36;
    color: white;
    font-size: 3em;
    display: none;
}

#add-task:hover {
    background-color:#ECFEE8;
    color: black;
    cursor: pointer;
}

.task:nth-child(odd) { background: #4E598C; }

/* --------------- TASK FORM --------------- */
#task_form {
    display: none;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

#task_form {
    text-align: center;
}

#task_form form {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 750px;
    margin: auto;
}

form .form_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

form .form_group input,label, textarea{
    font-size: 1.5em;
    padding: 5px;
}

form .form_control{
    flex-direction: row;
}

form .form_control button {
    flex: 1;
    margin: 5px;
    padding: 15px;
    font-size: 1.5em;
}